<div class="narrow">
  <h2>Workflows</h2>

  <div class="box">
    {{link-to "Release Blog Post" "release-blog-post" tagName="button"}}
    <button>Something Else</button>
    <button>One More Thing™</button>
  </div>
</div>
